.feature {
    &__grid {
        justify-content: center;
        @include breakpoint-up(large) {
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 50%;
        }
        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
            flex: 2 2 50%;
        }
        @include breakpoint-down(small) {
            display: flex;
            flex: 2 2 20px;
            flex-flow: row wrap;
        }
    }
    &__item {
        padding: 20px;
        margin: 2px;
        background-color: rgb(44, 187, 243);
        margin-bottom: 2px;
        margin-right: 2px;
        justify-content: center space-around;
        flex-direction: column;
        @include breakpoint-down(small) {
            margin-right: 1px;
        }
    }
    &__icon {
        //
    }
    &__title {
        //
    }
    &__description {
        //
    }
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    .card {
        display: inline-block;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}