.feature {
    &__grid {
        justify-content: center;
        text-align: center;
        @include breakpoint-up(large) {
            display: flex;
            flex-wrap: wrap;
        }
        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
        }
        @include breakpoint-down(small) {
            display: flex;
            flex: 2 2 100%;
            flex-flow: row wrap;
        }
    }
    &__item {
        padding: 10px;
        overflow: hidden;
        background-color: #E6E6E6;
        margin-bottom: 30px;
        margin-right: 40px;
        height: 150px;
        justify-content: center;
        transition: all 150ms ease-in-out;
        width: 250px;
        @include breakpoint-down(small) {
            width: 300px;
        }
        &:hover {
            transform: scale(1.05);
        }
        h1 {
            justify-content: right;
            color: #555555;
        }
        p {
            text-align: left;
        }
    }
    &__icon {
        justify-content: center;
        padding: 0px;
        //
    }
    &__title {
        //
    }
    &__description {
        //
    }
}

.scrolling-wrapper {
    overflow-x: scroll;
    margin: 0px;
    padding: 20px;
    background: white;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    .card {
        display: inline-block;
        transition: all 150ms ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    &::-webkit-scrollbar {
        display: block;
        height: 9px;
        border-radius: 50px;
        @include breakpoint-down(medium) {
            display: none;
        }
        &:hover {
            background: linear-gradient(left, #555555, #4e4e4e);
        }
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
        width: 5px;
        display: inline-block;
        border-radius: 50px;
        background: rgb(0, 0, 0);
        border-radius: 50px;
        ;
    }
}