.feature {
    &__grid {
        justify-content: center;
        @include breakpoint-up(large) {
            display: flex;
            flex-wrap: wrap;
        }
        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
        }
        @include breakpoint-down(small) {
            display: flex;
            flex: 2 2 100%;
            flex-flow: row wrap;
        }
    }
    &__item {
        padding: 15px;
        color: black;
        overflow: hidden;
        background-color: rgb(211, 90, 90);
        margin-bottom: 10px;
        margin-right: 10px;
        justify-content: center space-around;
        box-shadow: 0px 3px 12px black;
        transition: all 150ms ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }
    &__icon {
        //
    }
    &__title {
        //
    }
    &__description {
        //
    }
}

.scrolling-wrapper {
    overflow-x: scroll;
    margin: -8px;
    padding: 20px;
    background: white;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    .card {
        display: inline-block;
        transition: all 150ms ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    &::-webkit-scrollbar {
        display: block;
        height: 9px;
        border-radius: 50px;
        @include breakpoint-down(medium) {
            display: none;
        }
        &:hover {
            background: linear-gradient(left, #555555, #4e4e4e);
        }
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
        width: 5px;
        display: inline-block;
        border-radius: 50px;
        background: rgb(0, 0, 0);
        border-radius: 50px;
        ;
    }
}