.s1 {
    background-position: absolute;
    background: url('../../images/IMG_20200103_200522.jpg');
    background-size: cover absolute;
    background-repeat: no-repeat;
}

.s2 {
    background: url('../../images/IMG_20200103_204249.jpg');
    background-size: cover;
}

.s3 {
    background: url('../../images/IMG_20200105_021833.jpg');
    background-size: cover;
}

.page1 {
    background: url('../../images/logo.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.data {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}