#mob-nav {
    position: static;
    bottom: 2em;
    right: 2em;
    ul {
        list-style: none;
        //
    }
    a {
        color: white;
        text-decoration: none;
        text-align: right;
        padding: 0.5em 0;
        transition: all 0.1s ease-out;
        display: block;
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 900;
        letter-spacing: 1px;
        //
    }
    a:hover {
        color: rgba(255, 255, 255, 0.5);
        //
    }
}