//colors
$color1: rgb(255, 255, 255);
$color2: rgb(0, 0, 0);
$color3: whitesmoke;
//fonts
$font-med: 0.9rem;
$font-sm:0.5rem;
@import "./fullscreen";
@import "./header";
@import "./mixins";
@import "./mobilenav";
h1 {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    display: flex;
}

body {
    font-size: $font-med;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    background-color: black;
    background-position: absolute;
    background-size: cover absolute;
    height: relative;
}

span {
    background: $color1 !important;
    color: $color2;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

//flexbox
.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
}

button,
.button {
    padding: 1rem 1.875rem;
    background: rgb(255, 61, 120);
    border-radius: 0px;
    cursor: pointer;
    border: 0;
    font-weight: 200;
}

//visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-down(large) {
        display: none;
    }
}