//colors
$color1: rgb(255, 255, 255);
$color2: rgb(0, 0, 0);
$color3: whitesmoke;
//fonts
$font-med: 0.9rem;
$font-sm:0.5rem;
@import "./fullscreen";
@import "./header";
@import "./mixins";
@import "./mobilenav";
@import "./feature";
h1 {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    display: flex;
}

i {
    color: $color2;
    text-align: center;
    height: 100%;
}

body {
    font-size: $font-med;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    position: auto;
    margin: 0em;
}

span {
    background: $color1 !important;
    color: $color2;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

//flexbox
.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
}

button,
.button {
    padding: 0.7rem 1.65rem;
    background: rgb(255, 61, 120);
    border-radius: 4px;
    cursor: pointer;
    border: 14;
}

//visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(medium) {
        display: none;
    }
}

//text
.banner {
    font-family: 'Shadows Into Light', cursive;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 50px;
    justify-content: center;
    @include breakpoint-down(medium) {
        margin-top: -50px;
        padding: -50px;
    }
    @include breakpoint-down(small) {
        margin-top: -50px;
        padding: -50px;
    }
    @include breakpoint-up(medium) {
        text-align: top;
        margin-top: 100px;
    }
}