<div class="n06">
  <div class="n06_navbar">
    <div class="n06_container">
      <img src="./mainlogo.jpg" alt="" class="n06_logo" width="80px" />
      <div style="cursor: pointer" class="n06_link_wrap">
        <a href="/" class="n06_link w-inline-block n06_link_text">Home</a
        ><a href="/about" class="n06_link w-inline-block n06_link_text"
          >About</a
        >
        <a href="/product" class="n06_link w-inline-block n06_link_text"
          >Product</a
        >
        <a href="/service" class="n06_link w-inline-block n06_link_text"
          >Services</a
        ><a
          onclick="smoothScroll(document.getElementById('footbar'))"
          class="n06_link w-inline-block n06_link_text"
          >Contact</a
        >
      </div>
    </div>
  </div>
</div>

<!-- // onclick="smoothScroll(document.getElementById('solar'))" -->
