<div class="container-h3" style="margin-top: 5rem">
  <div id="product" class="section_01">
    <div class="container_p">
      <div class="col_40">
        <h1 class="h1_example">Our team works to redefine Robotics.</h1>
        <p class="paragraph space-below">
          Next Gen Lab admires modern problems with high tech technologies &
          products with IoT equipped. Our solutions are fully customized,
          equipped, automated, centralisied & easy to operate via smart devices.
        </p>
        <button
          onclick="smoothScroll(document.getElementById('solar'))"
          class="button-b1"
        >
          <div class="text-block-22">Find out more</div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            style="height: 1.3rem"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
            />
          </svg>
        </button>
      </div>
      <div class="col_60">
        <div class="card_col_2">
          <div
            data-w-id="d9bf0bc1-9bac-5fa1-5c55-71ac35646879"
            class="card_base"
          >
            <div class="icon_wrap">
              <div id="consoleLogo"></div>
            </div>
            <div class="card_title_wrap">
              <h1 class="h1_features-2">Benefits With Us<br /></h1>
              <div class="text_features">
                Cleaning & maintaining of solar panel is required to improve
                efficiency and longer lifespan of pv panels. This can be easily
                monitorised by our product
              </div>
            </div>
            <img
              src="https://uploads-ssl.webflow.com/5c9ddff0c7170aa239f946cc/5c9de3d1a9898d1c7cc7d1ff_Icon.svg"
              style="
                opacity: 0;
                -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
              "
              alt=""
              class="arrow"
            />
          </div>
          <div
            data-w-id="31696d6a-3887-3888-4b5f-0a0c096c7866"
            class="card_base"
          >
            <div class="icon_wrap">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                width="30"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 01-1.161.886l-.143.048a1.107 1.107 0 00-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 01-1.652.928l-.679-.906a1.125 1.125 0 00-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 00-8.862 12.872M12.75 3.031a9 9 0 016.69 14.036m0 0l-.177-.529A2.25 2.25 0 0017.128 15H16.5l-.324-.324a1.453 1.453 0 00-2.328.377l-.036.073a1.586 1.586 0 01-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 01-5.276 3.67m0 0a9 9 0 01-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25"
                />
              </svg>
            </div>
            <div class="card_title_wrap">
              <h1 class="h1_features-2">Sustainable Development<br /></h1>
              <div class="text_features">
                Our product is an approach to economic, social, and
                environmental development that meets the needs of the present
                generation without compromising the ability of future
                generations to meet their own needs.
              </div>
            </div>
            <img
              src="https://uploads-ssl.webflow.com/5c9ddff0c7170aa239f946cc/5c9de3d1a9898d1c7cc7d1ff_Icon.svg"
              style="
                opacity: 0;
                -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
              "
              alt=""
              class="arrow"
            />
          </div>
        </div>
        <div class="card_col_2">
          <div
            data-w-id="0839fb79-9077-8c8f-fccc-44089ed3a19c"
            class="card_base"
          >
            <div class="icon_wrap">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9.75 3.104v5.714a2.25 2.25 0 01-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 014.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0112 15a9.065 9.065 0 00-6.23-.693L5 14.5m14.8.8l1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0112 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5"
                />
              </svg>
            </div>
            <div class="card_title_wrap">
              <h1 class="h1_features-2">Water Free Cleaning<br /></h1>
              <div class="text_features">
                Water-free cleaning can save on water and associated costs,
                which can be especially important in areas where water is scarce
                or expensive and eliminates the need for detergents and
                chemicals and reduces the overall carbon footprint associated
                with cleaning.
              </div>
            </div>
            <img
              src="https://uploads-ssl.webflow.com/5c9ddff0c7170aa239f946cc/5c9de3d1a9898d1c7cc7d1ff_Icon.svg"
              style="
                opacity: 0;
                -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
              "
              alt=""
              class="arrow"
            />
          </div>
          <div
            data-w-id="6386f079-c902-dc83-7914-1a7a18f1c11f"
            class="card_base"
          >
            <div class="icon_wrap">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"
                />
              </svg>
            </div>
            <div class="card_title_wrap">
              <h1 class="h1_features-2">Easy To Use and Operated<br /></h1>
              <div class="text_features">
                We can easily operate and monitorisethe product via smart
                devices
              </div>
            </div>
            <img
              src="https://uploads-ssl.webflow.com/5c9ddff0c7170aa239f946cc/5c9de3d1a9898d1c7cc7d1ff_Icon.svg"
              style="
                opacity: 0;
                -webkit-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 15px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0)
                  rotateY(0) rotateZ(0) skew(0, 0);
              "
              alt=""
              class="arrow"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
